.button {
    text-decoration: none;
    background: none;
    color: #333333;
    padding: 4px 10px;
    border: 1px solid #000;
    text-wrap: nowrap;
}

#consent-banner-js-modal {
    background: #fff;
    padding: 10px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
    z-index: 999;
}

#consent-banner-js-modal .consent-banner-js-modal-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


#consent-banner-js-modal .consent-banner-js-modal-buttons {
  margin-top: 12px;
  text-align: right;
},


#consent-banner-js-modal .consent-banner-js-modal-buttons [href="#accept"] {
    color: rgb(255, 255, 255);
    border: 1px solid #083b99;
    background-color: #083b99;
}

#consent-banner-js-modal .consent-banner-js-modal-buttons [href="#settings"] {
    margin-left: 10px;
}


#consent-banner-js-settings .consent-banner-js-settings-buttons {
  margin-top: 12px;
  text-align: right;
},


#consent-banner-js-settings .consent-banner-js-settings-buttons [href="#save"] {
    color: rgb(255, 255, 255);
    border: 1px solid #083b99;
    background-color: #083b99;
},

#consent-banner-js-settings .consent-banner-js-settings-buttons [href="#close"] {
    margin-left: 10px;
},

#consent-banner-js-settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
  padding: 10px 30px 30px;
  overflow-x: scroll;
  max-height: 100%;
  min-width: 250px;
}

#consent-banner-js-settings ul {
  list-style: none;
  padding-left: 0;
},


#consent-banner-js-settings ul label {
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 5px;
},


#consent-banner-js-settings ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 15px;
},

#consent-banner-js-settings ul p {
    margin-left: 25px;
}

#consent-banner-js-wall {
  z-index: 999;
}
